body {
    background-color: DodgerBlue; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
    background-color: white;
    color: navy;
   
}

@media screen and (min-width: 480px) {
    body {
      background-color: LightSkyBlue;
      color: Navy;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    header h1 {background-color: DodgerBlue;color: snow;}
  }
